@using System.Web.UI.HtmlControls
@using CorrespondenceSystem.ViewModel.Documento
@model CorrespondenceSystem.ViewModel.Documento.DocumentoCrearViewModel
@{
    ViewBag.Title = "Registrar Nuevo Documento";
}


@using(Html.BeginForm("Nuevo", "Documento"))
{ 
 
 

<div class="row">
    <div class="col-md-4 form-group">
        <div>
            @Html.LabelFor(m => m.noOficio)
            @Html.TextBoxFor(m => m.noOficio, new {@class = "form-control", @placeholder = "Numero de Oficio"})
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div>
            @Html.LabelFor(m => m.fechaDocumento)
            @Html.TextBoxFor(m => m.fechaDocumento, new {@class = "form-control datepicker", @placeholder = "Fecha del Documento"})
        </div>
    </div>
    <div class="col-md-4 form-group">
        @Html.LabelFor(m => m.regional)
        @Html.DropDownListFor(m => m.regional,
            (Model.ddlRegional), new {@class = "form-control"})

    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        @Html.LabelFor(m => m.asunto)
        @Html.TextBoxFor(m => m.asunto, new {@class = "form-control", @placeholder = "Asunto del Documento"})
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        @Html.LabelFor(m => m.fechaRecibido)
        @Html.TextBoxFor(m => m.fechaRecibido, new {@class = "form-control datepicker", @placeholder = "Fecha Recibido el Documento"})
    </div>
    <div class="col-md-6 col-md-offset-2 form-group">
        
        @Html.LabelFor(m => m.idDepartamento)
        @Html.DropDownListFor(m => m.idDepartamento,
            (Model.ddlDestinatarios), new {@class = "form-control"})
        
        <select id="select-destinatarios-multiple" class="form-control" multiple>

        </select>
        
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Registrar</button>
    </div>
</div>

}